<header>
  <nav class="separacion">
    <a href="http://localhost:4200/"><img src="https://web.dragonball-api.com/images-compress/android-icon-192x192.webp" alt="" class="img1"></a><br>
    <div class="links">
      <a routerLink="characters" class="links2"><p style="color: rgb(97, 97, 97);">Filtro</p></a>
      <a routerLink="planetas" class="links2"><p style="color: rgb(97, 97, 97);">Planets</p></a>      
      <button class="boton">SUPORT US</button>
    </div>
  </nav>
</header><br><br>

<main>
  <router-outlet></router-outlet>
</main>