<form [formGroup]="filtro">
    <button (click)="filtrar()">Filtro</button><br>
    <input type="text" formControlName="affiliation" placeholder="Afiliación"><br>
    <input type="number" formControlName="limit" placeholder="Limite">



</form>
<div>
    <div>
      <img src="https://web.dragonball-api.com/images-compress/logo_dragonballapi.webp" alt="" style="width: 900px; flex-direction: column; margin-left: 500px;">
      <h1 style="margin-left: 750px;">The Dragon Ball API</h1>
    </div>
    <div>
      <article *ngFor="let character of characters">
        <div (click)="mostrarPersonaje(character.id)" style="color: white;">
          <img [src]="character.image" alt="" height="540" width="270px">
        </div>
        <div>
          <div>
            <h2>{{character.name}}</h2>
            <p>{{character.race}} - {{character.gender}}</p>
          </div>
          <div>
            <div>
              <p>Base KI</p>
              <span>{{character.ki}}</span>
            </div>
            <div>
              <p>Total KI</p>
              <span>{{character.maxKi}}</span>
            </div>
            <div>
              <p>Afiliation</p>
              <span>{{character.affiliation}}</span>
            </div>
          </div>
        </div>
      </article>
  
    </div>
  
  
  </div>
