/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color: rgb(39, 43, 51);;
    font-size: 18px;
    font-weight: 700;
}

p{
    color: white;
}

.img2{
    width: 900px; 
    flex-direction: column; 
    margin-left: 500px; 
    margin-top: 56px;
}

h1{
    margin-left: 770px;
    color: orange;
}

.img1{
    width: 80px;
    height: 100%; 
    margin: 0
}

header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 5;
}

nav{
    height: 60px;
    display: flex;
}

#pe{
    color: orange;
}

span{
    color: orange;
}
#ovflw{
    overflow: hidden;
}

.imgPers {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    margin: 0px;
    object-position: center center;
    object-fit: contain;
    z-index: 0;
    transition: transform 0.6s;
}

.cont {
    grid-template-columns: repeat(4, 1fr);
}
.cont2 {
    display: grid;
    padding: 16px;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    place-content: center;
    place-items: center;
}

.cont3 {
    width: 280px;
    display: flex;
    flex-direction: column;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.animacion:hover {
    transform: scale(1.2);
}

.cont4 {
    width: 100%;
    position: relative;
    background-image: url(https://web.dragonball-api.com/images-compress/89980.webp);
    background-position: center center;
    background-size: cover;
    background-color: white;
    min-height: 350px;
    max-height: 350px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

main{
    line-height: 0.5;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 24px;
    -webkit-box-align: center;
    align-items: center;
}
.links2{
    color: rgb(97, 97, 97);
    font-weight: 900;
    font-size: 20px;
}

.separacion {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.boton {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    background-color: rgb(251, 192, 45);
    box-shadow: none;
    color: white;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}